@{
    ViewBag.Title = "Contacto";
}

<h3>Simple Button</h3>

<button type="button" class="btn btn-default">Left</button>

<h3>Enhanced Buttons</h3>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
    <input type="radio" name="shipping" id="ground" checked />Ground
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="shipping" id="two-day" />Two Day
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="shipping" id="overnight" />Overnight
    </label>
</div>
